body{
 box-sizing: border-box;
 text-decoration: none;
 padding: 0;
 margin: 0;
 max-width: 900px;
 margin:  0 auto;
 display: flex;
 flex-direction: column;
 justify-content: space-between;

 img{
  width: 100%;
 }
}

section{
  min-height: 80vh;
}

 footer{
  text-align: center;
  margin-top: 50px;
}

.animacaoLeft{
 transform: translateX(-50px);
 opacity: 0;
 animation: animacaoLeft 1s forwards;
}

@keyframes animacaoLeft{
 to {
   transform: initial;
   opacity: initial;
 }
}

.carregar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 10px blue;
  border-left-color: transparent;
  animation: carregar 1s infinite;
}

@keyframes carregar {
  to {
    transform: rotate(360deg);
  }
}
