.containerProdutos{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;

  img{
   height: 20rem;
  }

  a{
   text-decoration: none;
   color: grey;
   display: flex;
   flex-direction: column;
   gap: 0px;
   align-items: center;
  }
}